/*====================
スマホを基本設計にする
 - 〜479px：スマートフォン縦
 - 480px〜599px：スマートフォン横
 - 600px〜959px：タブレット
 - 960px〜1279px：小型PC
 - 1280px〜：大型PC
====================*/

html{
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
}

.sample{
  text-align: center;
  background: #ccc;
  font-size: 1.2rem;
}


/* 480px〜599px：SP横
------------------------------ */
@media screen and (min-width:480px) and (max-width:599px) {
.sample{
  font-size: 1.4rem;
}
}

/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {
.sample{
  font-size: 1.5rem;
}
}

/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {
.sample{
  font-size: 1.5rem;
}
}

/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px) {
.sample{
  font-size: 1.6rem;
}
